.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: black;
    align-items: center;
}


.menu-item {
    color: white;
    text-align: center;
    font-size: 3em;
}

.menu-item a:hover{
    color:turquoise;
}

